


        *{box-sizing: border-box;
            }

        body {
            background: #350f0f;
            color: aqua;
            text-align: center;
            font-family: Arial, sans-serif;
            
            margin: 0;
        }   

        header {
            background: rgba(0,0,0,0.85);
            backdrop-filter: blur(10px);
            font-size: 24px;
            color: aqua;
            padding: 20px;

            position: sticky;

            z-index: 500;
        }

        #course-modal {
            display: none; /*спочатку прихована*/
            position: fixed; /*фіксує поверх всього сайту*/
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);/*напівпрозорий фон*/
            z-index: 9999;

                    /*центрування віконця в середені флекс контейнера*/
            justify-content: center;
            align-items: center;
        }
                /*віконце з контентом*/
        .modal-content {
            background-color: #2c2c2e;
            padding: 25px;
            border-radius: 12px;
            max-width: 550px;
            width: 98%;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            text-align: center;

                /*дає можливість вписати весть текст + полоса прокрутки*/
            max-height: 80vh;
            overflow: auto;

        }

            /*ОБМЕЖУЄМО РОЗМІР КАРТИНКИ В МОДАЛЦІ*/
        #modal-img {
            width: 100%;
            min-height: 250px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        /*АКЦЕНТУЄМО ЦІНУ В МОДАЛЦІ*/
        #modal-price {
            color: cyan;
            font-size: 32px;
            font-weight: bold;
            margin-top: 20px;
        }

        .signup-btn {

            margin-top: 20px;

            padding: 15px 25px;

            border: none;

            border-radius: 15px;

            background: cyan;

            color: black;

            font-size: 18px;

            font-weight: bold;

            cursor: pointer;

            transition: 0.3s;
        }

        .signup-btn:hover {

            transform: scale(1.05);
            background: #00ffff;
            box-shadow: 0 0 20px cyan;
        }

        


        footer {
            background: #350f0f;
            padding: 40px;
            font-size: 20px;
            z-index: 600;
        }


        footer p, footer a {
            color: aqua;
            text-decoration: none;
        }

        .hero {
            padding: 80px 20px;
            background-image:
            linear-gradient(rgba(0,0,0,0.6),
            rgba(0,0,0,0.6)
            ),
            
            url("https://images.pexels.com/photos/7750131/pexels-photo-7750131.jpeg");

            background-size: cover;
            background-position: center;

            border-radius: 30px;

            margin: 20px;

            min-height: 500px;

            display: flex;

            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        nav {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
        }

        nav a {
            color: rgb(37, 168, 168);
            text-decoration: none;
        }

        nav a:hover {
            color: cyan;

        }

        .main-content {
            font-size: 24px;
            margin: 20px 0;
        }

            /*стилі КНОПКИ - СПРОБУВАТИ ЗАРАЗ*/
        .hero button {
            margin-top: 25px;

            padding: 15px 25px;

            border: none;

            border-radius: 15px;

            background: linear-gradient(
                45deg,
                cyan,
                #00bfff
            );

            color: black;
            font-size: 18px;

            font-weight: bold;

            cursor: pointer;

            transition: 0.3s;

            box-shadow: 0 0 20px rgba(0,255,255,0.4);

        }

        .hero button:hover {
            transform: scale(1.05);
            box-shadow: 0 0 30px rgba(0,255,255,0.7);
        }
        
        .hero h1 {
            font-size: 52px;
            max-width: 700px;
        }

        /*ЧОМУ НАС БИРАЮТЬ*/
        .advantages-section {

            padding: 80px 20px;
        }

        .advantages-title {

            font-size: 40px;

            margin-bottom: 50px;
        }

        .advantages {

            display: flex;

            flex-wrap: wrap;

            justify-content: center;

            gap: 30px;
        }

        .adv-card {
            background: rgba(0,0,0,0.5);
            padding: 30px;

            width: 250px;

            border-radius: 25px;

            backdrop-filter: blur(10px);

            transition: 0.3s;

            box-shadow: 0 0 20px rgba(0,255,255,0.15);
        }

        .adv-card:hover {

            transform: translateY(-10px);

            box-shadow: 0 0 30px rgba(0,255,255,0.4);

        }

        .adv-card h2 {

            font-size: 50px;

            margin-top: 15px;
        }

        .adv-card p {

            font-size: 18px;
            color: #ddd;
        }

        /*стилі  КАРТОК КУРСІВ*/

        .course {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 60px 40px;
        }

        .section-title {
            text-align: center;
            margin-bottom: 40px;
            font-size: 2rem;
        }

        .course-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            max-width: 1200px;
            
            margin: 0 auto;
        }
        
        .course-card {

            width: 280px;
            flex: 1 1 250px;
            max-width: 250px;
            background: rgba(0,0,0,0.5);
            
            padding: 20px;
            border-radius: 25px;
            transition: 0.3s;

            box-shadow: 0 0 15px rgba(0,255,255,0.15);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
        }

        .course-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 0 25px rgba(0,255,255,0.4);
        }



        .course-card img {
            width: 100%;
            height: 180px;

            object-fit: cover;

            border-radius: 20px;

            margin-bottom: 15px;
        }    

        .course-card button {

            margin-top: 15px;
            padding: 12px 20px;
  
            border: none;
            border-radius: 12px;
            background: cyan;
            color: black;
            font-weight: bold;

            cursor: pointer;

            transition: 0.3s;

        }

        course-card button:hover {

            transform: scale(1.05);

            background: #00ffff;
        }

        html {
            scroll-behavior: smooth;
        }

        .modal {

            position: fixed;

            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background: rgba(0,0,0,0.7);
            display: none;

            justify-content: center;
            align-items: center;

            z-index: 2000;
        }


        /*стилі вікна - безкоштовного заняття*/
        .modal-content input,
        .modal-content textarea {
            width: 100%;

            margin-top: 15px;

            padding: 14px;

            border: none;

            border-radius: 12px;

            background: #333;

            color: white;

            font-size: 16px;

            box-sizing: border-box;

            outline: none;

        }

        .modal-content input::placeholder,
        .modal-content textarea::placeholder {
            color: #bbb;
        }

        .modal-content textarea {
            min-height: 120px;

            resize: vertical;
        }

            /*стилі КНОПКИ - форми безкоштовного заняття*/
        .modal-content button {

            margin-top: 20px;

            width: 100%;

            padding: 15px;

            border: none;

            border-radius: 15px;

            background: cyan;

            color: black;

            font-size: 18px;

            font-weight: bold;

            cursor: pointer;

            transition: 0.3s;

        }

        .modal-content button:hover {

            transform: scale(1.03);

            box-shadow: 0 0 20px cyan;
        }

        .modal-content {
            
            background: #222;

            padding: 30px;

            border-radius: 25px;

            width: 90%;

            max-width: 500px;

            max-height: 85vh;

            overflow-y: auto;

            text-align: center;

            position: relative;

        }

        .close-modal {
            position: absolute;

            top: 15px;
            right: 20px;

            font-size: 32px;
            cursor: pointer;
            color: aliceblue;
            transition: 0.3s;
        }

        .close-modal:hover {
            color: cyan;
            transform: scale(1.2);
        }


        /*стилі блоку інформації про безкоштовне пробне заняття*/
        .trial-info {
            margin-top: 30px;/*відстань між кнопкою та текстом*/

            font-size: 28px;

            line-height: 1.7;

            color: white;            
        }

            /*стилі заголовка пробного уроку */
        .trial-title {
            font-size: 28px;
            font-weight: bold;
            color: cyan;

        }

        .trial-info ul {

            list-style: none;
            padding: 0;
            margin: 20px auto;
            max-width: 700px;
            text-align: left;
        }

        .trial-info li {

            font-size: 28px;
            margin: 15px 0;

        }

        .trial-info li::before {

            content: "✅ ";
            margin-right: 10px;

        }

            /*тінь для шрифтів безкоштовного уроку*/
        .trial-info,
        .trial-title {

            text-shadow: 0 2px 8px rgba(0,0,0,0.8);
        }

        .reviews {
            color: white;
            background: rgba(0,0,0,0.5);
            gap: 10px;
            border-radius: 20px;
            margin-left: 100px;
            margin-right: 100px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .reviews-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
        }
        
        .review-card {
            width: 300px;
            padding: 25px;
            border-radius: 20px;
            background: rgba(0,0,0,0.5);
            backdrop-filter: blur(10px);
            box-shadow: 0 0 20px rgba(0,255,255,0.15);
            transition: 0.3s;
            position: relative;
        }

        .review-card:hover {
            transform: translateY(-10px);
        }

        .avatar {
            width: 50px;
            height: 50px;

            border-radius: 50%;

            background: cyan;
            color: black;

            display: flex;

            align-items: center;

            justify-content: center;
            font-weight: bold;
        }

        .review-card p {
            font-style: italic;/*тип тексту - курсив */
            color: white;
        }
                /*(куточок повідомлення знизу зліва) after - створює елемент після вмісту; before - створює елемент після вмісту */
        .review-card::after {
            content: "";
            position: absolute;

            bottom: -10px;/*квадрат виноситься трохи до низу*/
            left: 30px;/*фіксує зліва*/

            width: 20px;/*створює кватрат*/
            height: 20px;

            background: rgba(0,0,0,0.5);
            transform: rotate(45deg);/*повертає кватрат на 45 градусів*/
        }

        .review-text {
            font-style: italic;
            line-height: 1.6;
        }

        .process-layout {

            display: flex;
            justify-content: space-between;

            align-items: center;
            gap: 50px;

            max-width: 1200px;
            margin: 0 auto;
        }

        .process-left {
            flex: 1;
        }

        .process-step {
            background: rgba(0,0,0,0.5);

            padding: 20px;

            border-radius: 20px;
            
            backdrop-filter: blur(10px);
            box-shadow: 0 0 20px rgba(0,255,255,0.15);

            text-align: center;
        }
            /*стрілка */
        .arrow {

            font-size: 40px;
            text-align: center;
            margin: 10px 0;
            
            color: cyan;
        }
            /*фото */
        .process-right {
            flex: 1;
            text-align: center;
        }

        .process-right img {

            max-width: 102%;
            border-radius: 30px;

            box-shadow: 0 0 40px rgba(0,255,255,0.2);/*border: 2px solid rgba(0,255,255,0.2); - варіанти рамки карьтнки - дівчини в шапці*/
        }

            /*стилі карток етапів навчання */
        .step-number {

            display: inline-flex;

            width: 60px;
            height: 60px;

            border-radius: 50%;

            background: cyan;

            color: black;

            font-size: 30px;
            font-weight: bold;

            align-items: center;
            justify-content: center;

            margin-bottom: 15px;
        }

        .process-step:nth-child(1) {
            border-left: 5px solid #00ffff;
        }

        .process-step:nth-child(3) {
            border-left: 5px solid #00ff88;
        }

        .process-step:nth-child(5) {
            border-left: 5px solid #ffcc00;
        }

        .process-step:nth-child(7) {
            border-left: 5px solid #ff7b7b;
        }

        .process-step p {
            font-size: 24px;
            font-weight: 600;
        }

        .process-step span {

            font-size: 45px;
            font-weight: bold;

            display: block;

            margin-bottom: 10px;
        }

        .arrow {

            width: 20px;/*ширина стріли*/

            height: 26px;/*висота ніжки стріли*/

            background: white;/*колір стріли*/

            margin: 25px auto;/*відстань від стрілки до нижньої картки */
            
            position: relative;

        }

        /*наконечник стріли*/
        .arrow::after {

            content: "";

            position: absolute;

            bottom: -18px;

            left: -10px;

            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid white;
        }

        .faq-section {
            padding: 80px 20px;
            text-align: center;
        }

        /*розділ "часті запатання*/
        .faq-section h2 {
            color: cyan;
            margin-bottom: 50px;
        }


        .faq-item {

            max-width: 900px;

            margin: 20px auto;

            padding: 25px;

            background: rgba(0,0,0,0.5);

            box-shadow: 0 0 40px rgba(0,255,255,0.2);

            border-radius: 20px;

            backdrop-filter: blur(10px);

            text-align: left;

            margin-bottom: 20px;

        }

        .faq-item h3 {
            color: cyan;
            margin-bottom: 10px;
            cursor: pointer;
        }

        .faq-item p {
            color: white;
            line-height: 1.6;
            display: none;
            margin-top: 15px;
        }

        /*ховає фото дфвчини в конфедератці на телефоні */
        @media (max-width: 768px) {
            
            .process-right {
                 display: none;
            }
                /*адаптація під телефон*/
            .process-layout {
                flex-direction: column;
            }
        }

        .teachers-container {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }



                /*картка вчителя */
        .teacher-card {

            background: rgba(0,0,0,0.5);

            padding: 25px;

            width: 300px;

            border-radius: 25px;

            backdrop-filter: blur(10px);

            box-shadow: 0 0 40px rgba(0,255,255,0.2);/*світіння навколо об'єкта*/

            text-align: center;

            transition: 0.3s;/*картка вчителя оживала */
        }

        .teacher-card:hover {

            transform: translateY(-10px);

            box-shadow: 0 0 50px rgba(0,255,255,0.3);/*світіння навколо об'єкта*/
        }


        .teacher-card img {

            width: 160px;

            height: 160px;

            border-radius: 50%;/*робить фото круглим */

            object-fit: cover;/*не дозволяє фото розтягуватися*/

            margin-top: 15px;

            transition: 0.3s;
        }

        .teacher-card img:hover {
            transform: scale(1.05);
        }



            /*секція кнопки-вивчити англійську*/
        .cta-section {

            text-align: center;

            padding: 80px 20px;
        }

        .cta-section h2 {
            color: cyan;
            font-size: 42px;
            margin-bottom: 20px;
        }

        .cta-section p {
            font-size: 22px;
            color: white;
            margin-bottom: 35px;
        }

        .cta-btn {

            background: linear-gradient(
                45deg,
                cyan,
                #00aaff
            );

            color: black;

            border: none;

            padding: 20px 50px;

            font-size: 26px;
            font-weight: bold;

            border-radius: 60px;

            cursor: pointer;

            transition: 0.3s;

            box-shadow: 0 0 40px rgba(0,0,0,0.3);
        }

        .cta-btn:hover {
            transform: scale(1.05);
            box-shadow: 0 0 60px rgba(0,255,255,0.6);    

        }

        /*кнопка повернення на верх*/
        #scrollToTopBtn {
            position: fixed;

            bottom: 20px;
            right: 20px;

            width: 55px;
            height: 55px;

            border: none;
            border-radius: 50%;

            background: #3c3e41;
            color: white;

            font-size: 18px;

            cursor: pointer;

            z-index: 99;

            transition: 0.3s;
           
            opacity: 0;

            pointer-events: none;
            box-shadow: 0 0 20px rgba(0,255,255,0.3);

            outline: none;
            appearance: none;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        #scrollToTopBtn:hover {
            background-color: #56595c;
            transform: scale(1.1);
        }

        #scrollToTopBtn.show {
            opacity: 1;
            pointer-events: auto;
        }


            



        












