

        *{box-sizing: border-box;
            }

        body {
            background: #350f0f;
            color: aqua;
            text-align: center;
            font-family: Arial, sans-serif;
            
            margin: 0;
        }   

        header {
            background: black;
            font-size: 24px;
            color: aqua;
            padding: 20px;

            position: sticky;

            z-index: 500;
        }

        footer {
            background: #350f0f;
            padding: 40px;
            font-size: 20px;
            z-index: 600;
        }


        footer p, footer a {
            color: aqua;
            text-decoration: none;
        }

        .hero {
            padding: 80px 20px;
            background-image:
            linear-gradient(rgba(0,0,0,0.6),
            rgba(0,0,0,0.6)
            ),
            
            url("https://images.pexels.com/photos/7750131/pexels-photo-7750131.jpeg");

            background-size: cover;
            background-position: center;

            border-radius: 30px;

            margin: 20px;

            min-height: 500px;

            display: flex;

            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        nav {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
        }

        nav a {
            color: rgb(37, 168, 168);
            text-decoration: none;
        }

        nav a:hover {
            color: cyan;

        }

        .main-content {
            font-size: 24px;
            margin: 20px 0;
        }

            /*стилі КНОПКИ - СПРОБУВАТИ ЗАРАЗ*/
        .hero button {
            margin-top: 25px;

            padding: 15px 25px;

            border: none;

            border-radius: 15px;

            background: linear-gradient(
                45deg,
                cyan,
                #00bfff
            );

            color: black;
            font-size: 18px;

            font-weight: bold;

            cursor: pointer;

            transition: 0.3s;

            box-shadow: 0 0 20px rgba(0,255,255,0.4);

        }

        .hero button:hover {
            transform: scale(1.05);
            box-shadow: 0 0 30px rgba(0,255,255,0.7);
        }
        
        .hero h1 {
            font-size: 52px;
            max-width: 700px;
        }

        /*ЧОМУ НАС БИРАЮТЬ*/
        .advantages-section {

            padding: 80px 20px;
        }

        .advantages-title {

            font-size: 40px;

            margin-bottom: 50px;
        }

        .advantages {

            display: flex;

            flex-wrap: wrap;

            justify-content: center;

            gap: 30px;
        }

        .adv-card {
            background: rgba(0,0,0,0.5);
            padding: 30px;

            width: 250px;

            border-radius: 25px;

            backdrop-filter: blur(10px);

            transition: 0.3s;

            box-shadow: 0 0 20px rgba(0,255,255,0.15);
        }

        .adv-card:hover {

            transform: translateY(-10px);

            box-shadow: 0 0 30px rgba(0,255,255,0.4);

        }

        .adv-card h2 {

            font-size: 50px;

            margin-top: 15px;
        }

        .adv-card p {

            font-size: 18px;
            color: #ddd;
        }


